<h1>{{ name }}</h1>
<dl>
  <!-- Interpolacion -->
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <!-- Llamar un metodo -->
  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <!-- Llamar a un getter -->
  <td>Capitalizado:</td>
  <dd>{{ capitalizedName }}</dd>
</dl>

<button
  *ngIf="showButtonName"
  class="btn btn-primary mx-2"
  (click)="changeHero()"
>
  Cambiar nombre
</button>

<button *ngIf="showButtonAge" class="btn btn-primary" (click)="changeAge()">
  Cambiar edad
</button>

<button class="btn btn-primary mx-2" (click)="resetForm()">Reset</button>
