<h4>Agregar personaje</h4>

<form class="row" (ngSubmit)="emitCharacter()">
  <!-- ngModel sirve para hacer el binding entre las propiedades y el front; es un Two way data binding -->
  <input
    class="form-control mb-2"
    name="name"
    [(ngModel)]="character.name"
    type="text"
    placeholder="Nombre"
  />

  <input
    class="form-control mb-2"
    name="power"
    [(ngModel)]="character.power"
    type="number"
    placeholder="Poder"
  />

  <button class="btn btn-primary" type="submit">Agregar</button>

  <pre>{{ character | json }}</pre>
</form>
