<h1>DBZ Personajes</h1>
<hr />

<div class="row">
  <div class="col">
    <!-- AQUI SE ESTÁ PASANDO LA INFO DEL PADRE AL HIJO -->
    <dbz-list
      [characterList]="characters"
      (onDelete)="onDeleteCharacter($event)"
    ></dbz-list>
    <!-- onDelete -->
  </div>

  <div class="col">
    <!-- HACER LA ESCUCHA DEL EVENTO -->
    <!-- $event sirve para recibir el parametro del evento  -->
    <dbz-add-character
      (onNewCharacter)="onNewCharacter($event)"
    ></dbz-add-character>
  </div>
</div>
